.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  border-top: 1px solid #868686;
  height: 100px;
  width: 100%;
  gap: 20px;
  background: #fff;


  .footer__items {
    font-size: 15px;
    color: #868686;
  }
}