<div class="task">
  <h1 class="task__name">{{ newTaskName }}</h1>
  <div class="task__add-elements">
    <div class="task__add-new">
      <input [(ngModel)]="newTaskName" placeholder="ВВЕДИТЕ НАЗВАНИЕ ЗАДАЧИ:" class="task__input">
      <button class="task__add-btn" (click)="addTask()">+</button>
    </div>
    <input [(ngModel)]="newTaskDescription" placeholder="ВВЕДИТЕ ОПИСАНИЕ ЗАДАЧИ:" class="task__input">
    <p class="task__warning" *ngIf="taskWarning">Заполните поля*</p>
  </div>
  <div class="task__item" *ngFor="let task of tasks.reverse()">
    <div class="task__header">
      <span class="task__id">{{ task.id }}.</span>
      <h2 class="task__title">{{ task.title }}</h2>
    </div>
    <div class="task__actions">
      <button class="task__edit" (click)="openModal(task)">
        <img src="/assets/icons/edit.svg">
      </button>
      <button class="task__remove" (click)="removeTask(task.id)">
        <img src="/assets/icons/cross.svg">
      </button>
    </div>
    <p class="task__description">{{ task.description }}</p>
  </div>
  <app-modal [taskTitle]="selectedTask?.title || ''" [taskDescription]="selectedTask?.description || ''" (taskChanges)="updateTask($event)"></app-modal>
</div>